/* .myclass {
    background-color: green;
} */

.artistic-nav {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
}

.gallery-header h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.about-text {
    font-family: "Lora", serif;
    line-height: 1.8;
}

.painting-image {
    height: 300px !important;
    width: 100% !important;
    object-fit: contain !important;
    border: 5px solid red;
}