
<footer class="py-2 bg-dark bg-gradient fixed-bottom">
    <div class="container">
    {% comment %} <p class="m-0 text-center text-white">Copyright &copy; Tanya Mohammadi email: tnymmd01@gmail.com</p> {% endcomment %}
        <p class="mb-1">
            © 2026 Tanya Mohammadi · Watercolor Glory
        </p>
        <p class="mb-0">
            <a href="mailto:tnymmd01@gmail.com">
                tnymmd01@gmail.com
            </a>
        </p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>